body{
    background-color: aquamarine;
}

h1{
    text-shadow: 3px 2px 4px black;
    color: red;
    font-size: 50px;
    /* background-color: bisque; */
}
h2{
    text-transform: capitalize;
    text-decoration: underline;
    font-family: jokerman;
}
.history{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: chartreuse;
}
.data{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkorange;
    background-color: bisque;
}
.img{
    margin-top: 20px;
    margin-left: 150px;
    box-shadow: 2px 2px 5px 5px black;
}
.table{
    margin-top: 50px;
    margin-left: 150px;
    box-shadow: 2px 2px 5px 5px black;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    border-radius: 10px;
}
.type{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}
.info{
    font-family: cursive;
    background-color: coral;
    text-align: justify;
}