h1{
    text-shadow: 3px 2px 4px black;
    color: red;
    font-size: 50px;
    background-color: bisque;
}
h2{
    text-transform: capitalize;
    text-decoration: underline;
    font-family: jokerman;
}
.history{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: chartreuse;
}
.data{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkorange;
    background-color: bisque;
}